<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">
            Kiosco de Helados
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Línea Premium</a>
                        <a class="dropdown-item" href="#">Línea Comercial</a>
                        <a class="dropdown-item" href="#">Línea Cero Azúcar</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Contacto</a>
                </li>
            </ul>
            <ul></ul>
            <ul class="navbar-nav p-2 login ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
